---
// Redirect from old /programs URL to new /events URL
---

<script>
  window.location.replace("/events");
</script>

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/events" />
    <link rel="canonical" href="/events" />
  </head>
  <body>
    <p>
      This page has moved to <a href="/events">Events</a>. You will be
      redirected automatically.
    </p>
  </body>
</html>
