---
// Redirect from old /support URL to new /donate URL
---

<script>
  window.location.replace("/donate");
</script>

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/donate" />
    <link rel="canonical" href="/donate" />
  </head>
  <body>
    <p>
      This page has moved to <a href="/donate">Donate</a>. You will be
      redirected automatically.
    </p>
  </body>
</html>
